<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning ">
      <img src="{{ url_for('static', filename='images/ICON.jpg') }}" width="50"="/>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


            <h4><a class="nav-link text-dark" href="/" title="Home page">The Daily Reports</a></h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="/about">About</a>
                  </li>
                </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if current_user.is_anonymous%}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/login">Login</a>
                </li>

                {% else %}

                {% if current_user.is_admin() %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/control_panel">Control Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/database">Database</a>
                </li>
                {% endif %}

                {% if current_user.is_admin() or current_user.is_user() %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/databaseoverview">Overview</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/guest_page">Welcome</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/account">Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/logout">Logout</a>
                </li>


                {% endif %}
            </ul>
        </div>

    </nav>
</div>
