{% extends 'base.html' %}
{% block body %}
<div>

  <h2>Add A New Member</h1>

  <form method="POST" action="{{ url_for('add_member')}}">

    {{ form.csrf_token }}
    {{ form.first_name.label }} {{ form.first_name(size=20) }}
    {{ form.last_name.label }} {{ form.last_name(size=20) }}
    {{ form.uniform_number.label }} {{ form.uniform_number(size=20) }}
    {{ form.homecountry.label }} {{ form.homecountry(size=20) }}
    <input type="submit" value="Add member">

  </form>

</div>
{% endblock %}
