{% extends 'base.html' %}

{% block body %}
	<fig><img src="{{ url_for('static', filename='images/Contact_Information.jpg') }}" width="1000"/></fig>
  <p><a >#all pictures are from Uiowa webpage</a></p>
  <div class="bg-light col-md-6 paragraph paragraph--type--text paragraph--view-mode--default">
  <div class="clearfix text-formatted field field--name-field-text-body field--type-text-long field--label-hidden field__item">  <h1>Contact Information</h1>

  <p><strong>Updates on COVID-19</strong><br /><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Centers for Disease Control and Prevention (CDC)</a><br /><a href="https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus">Iowa Department of Public Health (IDPH)</a></p>

  <p><strong>24/7 COVID-19 Helpline from UI Hospitals &amp; Clinics</strong><br /><a href="tel:319-384-8819">319-384-8819</a></p>

  <p><strong>Student Health Nurseline</strong><br /><a href="tel:319-335-9704">319-335-9704</a></p>

    </div>
{% endblock %}
