{% extends 'base.html' %}

{% block body %}

<h3>{{ legend }}</h3>
{% if members %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
          <th scope="col">HawkID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Temperature </th>
          <th scope="col">FeelingGood</th>
          <th scope="col">ReportDate</th>
          <th scope="col">NeedHelp</th>
          <th scope="col">ContactSickPeople</th>
    </tr>
  </thead>
  <tbody>
    {% for row in members %}
    <tr>

        <td> {{ row.HawkID }}</td>
        <td> {{ row.first_name }}</td>
        <td> {{ row.last_name }}</td>
        <td> {{ row.Temperature  }}</td>
        <td> {{ row.FeelingGood }}</td>
        <td> {{ row.ReportDate }}</td>
        <td> {{ row.NeedHelp }}</td>
        <td> {{ row.ContactSickPeople }}</td>
        <td>
            <form action="{{ url_for('get_member', member_id=row.member_id) }}" method="POST">
                <button type="submit" class="btn btn-warning">Details</button>
            </form>
        </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}
{% endblock %}
