

{% extends 'base.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>The University of Iowa COVID-19 Monitoring System</h1>
	<p class="lead">Iowans, we stand with you</p>
  <fig><img src="{{ url_for('static', filename='images/wetogether.jpg') }}" width="1000"/></fig>
  <p><a href="https://www.youtube.com/watch?v=zRwy8gtgJ1A">Python Flask From Scratch series</a></p>
  <p><a href="https://blog.tecladocode.com/learn-python-defining-user-access-roles-in-flask/"> Defining User Access Levels in Flask</a></p>
  <p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-v-user-logins">Flask Mega-Tutorial</a></p>
    {% if session.logged_in == NULL %}
      <a href="/register" c class="btn btn-dark text-warning bg-dark">Register</a>
      <a href="/login"  class="btn btn-dark text-warning bg-dark">Login</a>
    {% endif %}
  </div>

{% endblock %}
