{% extends 'base.html' %}
{% block body %}
<div>

{% if form %}
    <form method="POST" action="">
      <table  class="table table-striped table-dark"
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">HawkID</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Temperature </th>
            <th scope="col">FeelingGood</th>
            <th scope="col">ReportDate</th>
            <th scope="col">NeedHelp</th>
            <th scope="col">ContactSickPeople</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{ form.HawkID }}</td>
            <td>{{ form.member_id }}</td>
            <td>{{ form.first_name }}</td>
            <td>{{ form.last_name }}</td>
            <td>{{ form.Temperature  }}</td>
            <td>{{ form.FeelingGood }}</td>
            <td>{{ form.ReportDate }}</td>
            <td>{{ form.NeedHelp }}</td>
            <td>{{ form.ContactSickPeople }}</td>
            <th>
              <button type="submit" formaction="{{url_for('update_member', member_id=form.member_id)}}" class="btn btn-warning">Update</button>
            </th>
            <th>
              <button type="submit" formaction="{{url_for('delete_member', member_id=form.member_id)}}" class="btn btn-warning">Delete</button>
            </th>
          </tr>
        </tbody>
      </table>
    </form>
{% endif %}
</div>
{% endblock %}
